body{

    padding-top:20px;
    font-family: Arial,sans-serif;

}

hr{

    border: 2px solid black;
}

.scroll-container::-webkit-scrollbar{

    display: none;
    
}

.btn-section .btn{
    
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #000;
    background-color: #fff;
    font-weight: bold;

}

.img-container{
    
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    
}

.img-container img{

    width: 100%;
    height: auto;
}

.hero{

    padding: 40px 20px;
    text-align: center;
    font-weight: bold;
}

.top-nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #333; 

}

.circle-btn{

    border-radius: 50%;
    border: 2px solid #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}

.middle-btns{

    display: flex;
    gap: 80px;
}

.feature-card{

    border: 2px solid #888;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.feature-image{

    width: 100%;
    height: 40px;
    background-color: #ccc;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.feature-box{

    border: 2px solid #888;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;

}

.section-title{

    text-align: center;
    border: 2px solid #888;
    /* display: inline-block; */
}

.preferred-c1{

    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 100%;
}

.gf-circle-div{

    /* background-color: black; */
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;

}

.guide-flow{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    z-index: 100;

}

.au-img-container img{

    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;

}

.info{

    gap: 100px;
}

.Name{

    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

.p1-description{

    height: 100px;
    font-size: 30px;
    text-align: center;
    
}