body {

    font-family: 'Poppins';

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevents scrolling */
}

.outerContainer{

    background-image: url(../images/backgroundImageLightGreenForLoginPage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}


.container{

    display: flex;
    border-radius: 2px;
    border: 2px solid black;
    background-color: white;
    width: 70%;
    height: 80%;
    /* margin-top: 50px; */
    border-radius: 30px;
    padding: 0;
    margin: 0;
}

.leftSide,
.rightSide{

    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    
}

.leftSide{
    
    margin-top: 20px;
    padding: 20px;
}

.rightSide{

    object-fit: cover;
    background: linear-gradient(to bottom right, #e9f7ef, #d4edda, #a8df8e);
    margin: 0;
    padding: 0;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;

}


.form-box{

    margin-left: 0px;

}

h2{

    font-size: 40px;
    text-align: center;
}

.welcome{

    text-align: center;
}

.forgotPassword{

    font-size: 13px;
    margin-top: 2px;
}

label{

    font-size: 15px;
}


input{

    display: block;
    margin-top: 5px;
    font-size: 13px;
    width: 350px;
    border-radius: 3px;

}


.inputContents2{

    margin-top: 10px;
    
}

.loginBtn{

    border: 2px solid black;
    font-size: 20px;
    width: 350px;
    /* text-align: center; */
}




img{

   /* width: 640px;
   height: 550px; */
   /* margin-top: 50px; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* border-radius: 30px; */

}

.redirectSignUp{

    margin-left: 48px;
    margin-top: 20px;
    width: 260px;
}
