/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Body */
body {
  background-color: #032d26;
  padding: 20px;
}

/* Navbar */
.navbar {
  background-color: white;
  border-radius: 20px;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  width: 50px;
  height: 50px;
  border: 2px solid #032d26;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #032d26;
}

/* Navbar Buttons */
.nav-center {
  display: flex;
  gap: 255px;
}

.nav-btn {
  background-color: white;
  border: 2px solid #032d26;
  color: #032d26;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: #c4ffe6;
}

/* User Icon */
.user-icon {
  width: 40px;
  height: 40px;
  border: 2px solid #032d26;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #C5F255;
}

/* Search */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-box {
  padding: 12px 20px;
  width: 50%;
  border-radius: 10px;
  border: 2px solid #032d26;
  font-size: 16px;
  text-align: center;
}

/* Cards */
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  padding: 20px;
}